* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background: linear-gradient(-45deg, #f4f4f9, #e6e9ff, #c5cae9, #b3d1ff);
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    animation: cambioDegradado 15s ease infinite;
    transition: background 0.3s ease;
}

@keyframes cambioDegradado {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

div {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    text-align: center;
    animation: aparecer 1.5s ease-out;
    transition: transform 0.2s;
}

div:hover {
    transform: scale(1.02);
}

h1 {
    font-size: 2.5em;
    color: #2d3142;
    margin-bottom: 1em;
    animation: deslizarHaciaAbajo 1.5s ease-in-out;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 15px 0;
    font-size: 1.2em;
    transition: color 0.3s, transform 0.3s;
}

li:hover {
    color: #ef8354;
    transform: translateX(5px);
}

a {
    color: #ef8354;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
    font-weight: bold;
}

a:hover {
    color: #d55b3e;
    transform: scale(1.05);
}

footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #4f5d75;
    animation: aparecerDesdeAbajo 2s ease;
}


@keyframes aparecer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes deslizarHaciaAbajo {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes aparecerDesdeAbajo {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}